/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/** Color Scheme */
:root {
    --accent-color: #C57B02;
    --secondary-dark-color: #E4B98D;
    --secondary-light-color: #FFEBCC;
}
/** Basic configuration */
:root {
    --normal-font-size: 1.2rem;
    --large-font-size: 1.4rem;
    --larger-font-size: 1.5rem;
    --h1-font-size: 2rem;
    --line-height: 1.3rem;

    --todo-height: 3rem;
    --todo-padding: 0.5rem 0.2rem;
    --calendar-day-padding: 0.5rem 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-light-color);
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto', 'OpenSans', sans-serif;
    line-height: var(--line-height);
    background-color: var(--secondary-light-color); 
}

.text-center {
    text-align: center;
}
/** Header */
.header {
    padding: 0 0.4rem;
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.header > .top {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    width: 95%;
    margin: auto;
    border-bottom: 3px solid var(--accent-color);
}

.header > .top > h1 {
    width: 95%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    color: var(--accent-color);
    text-shadow: 2px 2px var(--secondary-dark-color);
    font-size: var(--h1-font-size);
}

.header > .selector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    font-family: 'Indie Flower';
    font-size: var(--larger-font-size);
}

.header > .selector > .date {
    width: 25ch;
    color: var(--accent-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
}

.header > .selector > .date:hover {
    cursor: pointer;
    font-size: 1.1em;
}

.header > .selector > .date:active {
    font-size: 0.9em;
}

/** Calendar **/

.calendar {
    width: 90%;
    margin: auto;
    top: 20%;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--secondary-dark-color);
    border-color: var(--accent-color);
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.calendar li{
    list-style: none;
}


.calendar .weekdays {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-dark-color);
    color: var(--secondary-light-color);
    text-shadow: 2px 2px var(--accent-color);
}

.calendar .weekdays li {
    width: 14%;
    text-align: center;
}

.calendar .weekdays li:hover {
    cursor: default;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 0.5rem 0.2rem;
    background-color: var(--secondary-light-color);
    border-radius: 5px;
}

.calendar > .days li {
    width: 14%;
    padding: var(--calendar-day-padding);
    text-align: center;
    border: 1px solid var(--secondary-light-color);
    color: var(--accent-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
}

.calendar > .days .selected-day {
    background-color: var(--accent-color);
    color: var(--secondary-light-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
    border: 1px solid var(--accent-color);
}

.calendar > .days .selected-day:hover {
    cursor: default;
}

.calendar > .days li:hover {
    cursor: pointer;
    border: 1px solid var(--accent-color);
    transition-duration: 0.3s;
}

.calendar > .days .prev-days,
.calendar > .days .next-days {
    opacity: 50%;
}

/** Main */
.list {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem;
    background: var(--secondary-light-color);
    border-bottom: 2px solid var(--accent-color);
}

.list > .items-container {
    min-height: 90%;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--secondary-light-color);
}

.list > .items-container::-webkit-scrollbar {   /*? Invisible Scrollbar for Safari, Chrome and Opera */
    display: none; 
}

.list > .items-container {  /*? Invisible Scrollbar for IE, Edge and Safari*/
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.list > .items-container > .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--todo-padding);
    margin: 0.4rem auto;
    height: var(--todo-height);
    font-size: var(--normal-font-size);
    width: 95%;
    border-radius: 10px;
    background-color: var(--secondary-dark-color);
    box-shadow: 2px 2px var(--accent-color);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

/* .item:active, .todo:active{
    cursor: grabbing;
} */

.todo {
    width: 18ch;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
    cursor: default;
    color: var(--secondary-light-color);
    text-shadow: 1px 1px var(--accent-color);
    border-radius: 5px;
}

.todo:focus {
    outline: none;
    border: 2px solid var(--secondary-light-color);
}


.list > .info {
    display: flex;
    justify-content: center;
    font-size: var(--normal-font-size);
    width: 95%;
    margin: 0 auto;
    padding: 0.3rem;
    font-weight: 300;
    font-style: italic;
    color: var(--accent-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
/** Form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    background-color: var(--secondary-light-color);
    font-size: var(--large-font-size);
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.form > .text-input {
    font-family: 'Indie Flower', 'Times New Roman', Times, serif;
    width: 40ch;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    color: var(--accent-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
    background-color: var(--secondary-light-color);
}

.text-input:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.text-input::placeholder {
    color: var(--accent-color);
    text-shadow: 1px 1px var(--secondary-dark-color);
}

/** Buttons */
.btn {
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1em;
    align-items: center;
    border-radius: 50%;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    font-size: 1.1em;
}

.btn:active {
    opacity: 30%;
    font-size: 0.9em;
}

.btn-dark-switch {
    color: var(--accent-color);
    text-shadow: 2px 2px var(--secondary-dark-color);
}

.btn-left, .btn-right {
    color: var(--accent-color);
    text-shadow: 2px 2px var(--secondary-dark-color);
}

.btn-add {
    color: var(--accent-color);
    text-shadow: 2px 2px var(--secondary-dark-color);
}

.btn-edit{
    color: var(--secondary-light-color);
    text-shadow: 1px 1px var(--accent-color);
}

.btn-check {
    color: green;
    border: 2px solid var(--secondary-light-color);
    text-shadow: 1px 1px var(--accent-color);
    box-shadow: 1px 1px var(--accent-color);
}

.btn-delete {
    color: var(--secondary-light-color);
    text-shadow: 1px 1px var(--accent-color);
}

.fa-edit, .fa-check, .fa-trash {
    pointer-events: none;
}

/** Functionality CLasses **/
#prototype{
    display: none;
}

.hidden {
    display: none;
}

.opacity50 {
    opacity: 50%;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.strike {
    text-decoration: line-through;
}

.delete-animation {
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s;
}

.blured {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.unclickable {
    pointer-events: none;
}

/** Media Querries */

@media screen and (min-height: 800px) {
    .list {
        min-height: 85%;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --normal-font-size: 1.4rem;
        --large-font-size: 1.6rem;
        --larger-font-size: 1.8rem;
        --h1-font-size: 2.2rem;
        --line-height: 1.6rem;
    
        --todo-height: 4rem;
        --todo-padding: 0.5rem 1rem;
        --calendar-day-padding: 1.5rem 0;
    }

    .calendar {
        font-size: 1.6rem;
    }

    .list > .items-container {
        width: 90%;
        margin: auto;
    }

    .todo {
        width: 40ch;
    }

}

@media screen and (min-width: 1200px) {
    :root {
        --normal-font-size: 1.6rem;
        --large-font-size: 1.7rem;
        --larger-font-size: 2rem;
        --line-height: 1.8rem;
    
        --todo-height: 5rem;
        --todo-padding: 0.5rem 1.5rem;
    }

    .calendar {
        font-size: 1.6rem;
    }

    .todo {
        width: 50ch;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1400px;
        margin: auto;
        padding-block: 1rem;
        border: 5px solid var(--accent-color);
        border-radius: 10px;
    }

    .calendar {
        width: 50%;
    }
}